{% extends "patiernt/base.html" %}
 {% load crispy_forms_tags %}
 {% block content %}
   <form action="" method="post" autocomplete="off">
       {% csrf_token %}
   <div class="conatiner">
       <div class="row">
        <div class="col-lg-5   col-md-5  col-sm-5 col-5" >

    {{form.vorname|as_crispy_field}}
    </div>



       <div class="col-lg-5 col-md-5 col-sm-5 col-5">
    {{form.name|as_crispy_field}}
    </div>

       <div class="col-lg-2 col-md-2 col-sm-2 col-2">
    {{form.alter|as_crispy_field}}
    </div>




       </div>
       <div class="row">
           <div class="col-lg-11   col-md-11  col-sm-11 col-11" >
          {{form.motif|as_crispy_field}}
         </div>
 <button type="submit" class="btn btn-success  "> <i class="fas fa-user-plus"></i> ajouter</button>
       </form>

{% endblock content %}