<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bootstrap hamza</title>.
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="stylesheet" href="/static/main.css?{% now "U" %}"/>

<body>
    <!--Start Uper bar-->
    <div class="upper-bar">
      <div class="container">
          <div class="row">
              <div class="col">
                <i class="fas fa-phone-alt"></i>017645238119,<i class="fas fa-envelope-square"></i> hamzadafy@hotmail.com

              </div>
              <div class="col"> <i class="fas fa-user-md"></i>

               cabinet doctteu Dounia Dafy
               <span class="get-quote"> contacez</span>
            </div>
          </div>
      </div>

    </div>


    <!--end Uper bar-->
    <!--Start nav bar-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 ">
        <div class="container" >

  <a class="navbar-brand" href="http://127.0.0.1:8000">

      <i class="fas fa-user-md dafy00"></i>
     <div class="col col-lg-7">

      <span class="dafy00">Dr.Dounia</span>
      <span class="dafy00">Dafy</span>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 </div>
  <div class="collapse navbar-collapse" id="menu-nav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">








     <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/service/"> service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >medcin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/location/">location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/rendezvous/" >rendez-vous</a>

      </li>






   </nav>









        </div>
       </div>
<div class="container leer">


</div>


    <div class="container">
        <div class="jumbotron">
               <h1 class="display-4">Hello, Doctor !</h1>
               <p class="lead">.</p>
               <hr class="my-4">
            {% block content %}
            {% endblock content %}

               <p class="lead">

  </p>
    </div>

    </div>


<div class="container unbar">
       <div class="container hamm">


           <div class="row">

               <div class="col-4">
               <i class="fas fa-user-md"></i>

              cabinet docteur Dounia

           </div>


           <div class="col-4">
              <i class="far fa-calendar-alt"></i>

              horraire d'douverture

           </div>


           <div class="col-4">
              <i class="far fa-calendar-alt"></i>

              social media

           </div>

           </div>  <!-- finr 1 row  -->



           <div class="row unbb">

               <div class="col-4">
               <i class="fas fa-map-marker-alt"></i>

              Lot lc 153 c Alliances Darna
              keintra, Maroc

           </div><!-- finr row fin mktouba ladrressa  -->



               <div class="col-4">
                   <div class="container">
                       <div class="row">
                       <div class="col-5">
                           lun
                       </div><!-- finr lundi  -->
                         8.00-18.00
                       </div><!-- finr lundi h  -->
                       <div class="row">
                       <div class="col-5">
                          Mar
                       </div><!-- finr ma  -->
                         8.00-18.00
                       </div><!-- finr ma h  -->
                       <div class="row">
                       <div class="col-5">
                          Mer
                       </div><!-- finr mer -->
                         8.00-18.00
                       </div><!-- finr merh  -->
                       <div class="row">
                       <div class="col-5">
                              Jeu
                       </div><!-- finr judi   -->
                         8.00-18.00
                       </div><!-- finr judi H  -->
                       <div class="row">
                       <div class="col-5">
                          Ven
                       </div><!-- finrven   -->
                         8.00-18.00
                       </div><!-- finr vendre H  -->
                       <div class="row">
                       <div class="col-5">
                          Sam
                       </div><!-- finr sam  -->
                         8.00-18.00
                       </div><!-- finr sam he  -->




                 </div><!-- din container li flwest   -->







           </div><!-- fiin container li flwest   -->

                <div class="col-3">

                <div class="row">
                    suivis nous urr
                     </div>

                     <div class="row">
                    <i class="fab fa-facebook fa-3x"></i>
                     </div>


                     <div class="row">
                         <div class="mossiba">
                  <i class="fab fa-instagram fa-3x"></i>

                         </div>
                        </div>



           </div>









       </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script><script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>

</body>
</html>